body{
    height:150vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}
header{
    padding:2em;
    background-color: seagreen;
    text-align: center;
}
main{
    padding:2em;
    background-color: lightgray;
    text-align: center;
}
footer{
    padding: 2em;
    background-color: lemonchiffon;
    text-align: center;
}