.parent{
    display:grid;
    grid-template-columns: repeat(12,1fr);
}
.segment{
    display:grid;
    grid-template-rows: 100px;
    place-items: center;
    text-align: center;
}
.three{
  background-color: seagreen;
  grid-column: 9/ span 3;
}
.twelve{
    background-color: yellowgreen;
    grid-column: 1 / span 12;
}
.four{
    background-color: orange;
    grid-column: 8 / span12;
}
.five{
    background-color: aquamarine;
    grid-column: 7 / span12;
}
.six{
    background-color: blanchedalmond;
    grid-column:6 / span12 ;
}
.seven{
    background-color: blue;
    grid-column: 1 / span 12;
}